
    body {
    border-style: solid;
    border-color: navy; 
    background-color:navajowhite;
    }
p.light {
  border-style: solid;
  border-color: navy; 
  font-weight: lighter;
  color: darkseagreen
}
    h1 {
    color: azure;
    }
    h2 {
    color: green;
    }
p.thick {
  border-style: solid;
  font-weight: bold;
  background-color: paleturquoise;
  
  
}

p.thicker {
  font-weight: 900;
